#create:hover, #cancel:hover {
    cursor: pointer;
}

#create {
    color: #B3B3B3;
}

#create-guild-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 10em;
}

#create-cancel {
    display: flex;
    gap: 1.5em;
    margin-top: 0.5em;
}