#userlist-container {
    background-color: var(--body_color);
    padding-left: 0.5em;
    width: 100%;
    min-width: 8em;
    max-width: 13em;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 3px var(--boxshadow_color);
    height: 20em;
    overflow-y: auto;
}

#discover-create {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listed-users {
    color: var(--text_color);
    border-bottom: 1px solid var(--subtext_color);
}

#user-title {
    border-bottom: 1px solid var(--subtext_color);
    color: var(--text_color);
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 700px) {
    #userlist-container {
        min-width: none;
        max-width: none;
        width: 90%;
    }
}