/* ! Build for resizable later once the main page is built out */
@media (max-width: 750px) {
    #main-container {
        justify-content: center;
    }
}

#nav-icon:hover {
    cursor: pointer;
}

#nav-icon {
    color: white;
}

#menu-options {
    text-decoration: none;
    color: black;
}