/* ! Build for resizable later once the main page is built out */
@media (max-width: 750px) {
    #main-container {
        justify-content: center;
    }
}

#nav-icon:hover {
    cursor: pointer;
}

#nav-icon {
    color: var(--text_color);
    text-decoration: none;
}

#menu-options {
    text-decoration: none;
    color: black;
}

#search-bar {
    max-width: 20em;
}


#search-results {
    position: absolute;
    background-color: var(--body_color);
    color: var(--text_color);
    font-size: 1em;
    font-weight: 650;
    margin-top: 2px;
    margin-left: -.5em;
    width: 29vw;
    max-width: 20em;
    height: fit-content;
    max-height: 15em;
    padding: 5px;
    opacity: .90;
    border-radius: 5px;
    overflow-y: auto;  
}

#single-search-guild {
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
}

#single-search-guild:hover {
    cursor: pointer;
    background-color: var( --subtext_color);
}