/* ! Build for resizable later once the main page is built out */
@media (max-width: 750px) {
    #main-container {
        justify-content: center;
    }
}

#nav-icon:hover {
    cursor: pointer;
}

#nav-icon {
    color: var(--text_color);
    text-decoration: none;
}

#menu-options {
    text-decoration: none;
    color: black;
}

#search-bar {
    max-width: 20em;
}