/* UserProfile.css */

/* Outer container */
#outer-profile {
    position: relative;
    min-height: 100vh;
    background-color: var(--body_background);
  }
  
  /* Inner container */
  #inner-profile {
    max-width: 600px;
    margin: 0 auto; /* Center the inner profile horizontally */
    padding: 20px;
    background-color: var(--body_background);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--boxshadow_color);
  }
  
  /* Profile name */
  #profile-name-container {
    text-align: center;
  }
  
  #profile-name {
    font-size: 28px;
    font-weight: bold;
    color: var(--text_color);
  }
  
  /* Profile picture and bio */
  #pic-bio {
    margin-top: 20px;
  }
  
  #user-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--body_color);
    animation: glow 3s infinite alternate;
  }
  
  #user-bio {
    margin-top: 10px;
    font-size: 16px;
    color: var(--text_color);
  }
  
  /* Joined Guilds */
  #profile-guild-title {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text_color);
  }
  
  #profile-guilds {
    max-height: 300px; /* Set a fixed height for the scrolling container */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  #single-guild {
    margin-bottom: 15px;
  }
  
  #single-guild h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text_color); /* Neon accent color for guild names */
  }
  
  #single-guild ul {
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    list-style-type: disc; /* Use bullet points for list items */
  }
  
  #profile-guild-description {
    font-size: 14px;
    color: var(--text_color);
  }
  
  #guild-linebreak {
    margin-top: 10px;
  }
  
  /* Footer */
  footer {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #999999;
  }
  
  