#guildlist-container {
    background-color: var(--body_color);
    margin-left: 1em;
    padding-left: 0.5em;
    width: 10em;
    border-radius: 5px;
    box-shadow: 0px 3px 10px 3px var(--boxshadow_color);
    max-height: 30em;
    overflow-y: auto;
}

#guild-title {
    color: var(--text_color);
    text-align: center;
}

#game-title {
    color: var(--text_color);
}

#guild {
    cursor: pointer;
}

#guild:hover {
    color: var(--subtext_color);
}

.joined-guild-list {
    margin-right: 0.5em;
}