#outer-about {
    display: flex;
    justify-content: center;
    background-color: #404040;
}

#about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    box-shadow: 0px 2px 8px 3px #181818;
    width: 700px;
    
}

#team {
    color: #ffffff;
    text-shadow: 3px 3px #121212;
    padding-left: 5px;
    padding-right: 5px;
}

.team-titles {
    color: #ffffff;
    text-shadow: 3px 3px #121212;
}

#team-container {
    background-color: #181818;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px #181818;
}

.line-break {
    width: 100%;
}

.about-img {
    border-radius: 3px;
    box-shadow: 0px 0px 5px 5px #121212;
}

.about-bio {
    max-width: 400px;
    color: #b3b3b3;
    font-size: 1em;
    font-weight: 500;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px #181818;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    width: 50vw;
    max-width: 30em;
    min-width: 20em;
}



